<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      
      <div class="pull-right">
      </div>
    </div>
    <div class="panel-body">
      <div class="row show-list">
        <div class="col-xs-4 col-md-3 hoveredImage" ng-repeat="galleryImage in [1,2,3,4,5]">
          <a href="/gallery/{{galleryImage.id}}">
            <img class="img-rounded" src="http://cdn1.vox-cdn.com/assets/4229567/game-of-thrones-poster_85627-1920x1200.jpg" width="100%"/>
          </a>
          <div class="text-center">
            <a href="/shows/{{show._id}}">{{show.name}}</a>
            <p class="text-muted">Episodes: {{show.episodes.length}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>