<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
        <p class="heading-text"><strong>Album Thumbnails</strong><p>
    </div>
    <div class="panel-body" ng-class="{full: loaded}">
      <div class="row show-list">
        <div class="col-xs-4 col-md-3 img-hover" ng-repeat="galleryImage in albums">
          <a href="#/gallery/{{galleryImage.id}}">
            <div class="img-rounded img-size" ng-style="{'background-image': 'url({{galleryImage.galleryImagesData.data[0].images[0].source}})'}">
            </div>

          </a>
          <div class="text-center">
            <a href="#/gallery/{{galleryImage.id}}">{{show.name}}</a>
            <p class="gallery-image-name">{{galleryImage.name}}</p>
            <p class="photo-count">2 photos</p>
          </div>
        </div>
        <div ng-show="albums.length == 0" class="text-center error-text">
            <p>Loading {{albums.length}} albums...</p>
        </div>
      </div>
    </div>
  </div>
</div>