<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      
      <div class="pull-right">
      </div>
    </div>
    <div class="panel-body">
      <div class="row show-list">
        <div class="col-xs-4 col-md-3 hoveredImage" ng-repeat="galleryImage in albums">
          <a href="/gallery/{{galleryImage._id}}">
            <img class="img-rounded" src="{{galleryImage.data[0].picture}}" width="100%"/>
          </a>
          <div class="text-center">
            <a href="/shows/{{show._id}}">{{show.name}}</a>
            <p class="text-muted">Episodes: {{show.episodes.length}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>