
<div class="home-container">
  <div class="image-container">
    <div class="container">
      <div class="row" style="  margin: auto;
      position: absolute;
      top: 50px; left: 0; bottom: 0; right: 0;">
        <div class="center-form panel">
              <form method="post" ng-submit="login()" name="loginForm">

                <button class="btn btn-lg btn-block btn-facebook" ng-click="facebookLogin()"><span class="ion-social-facebook"></span>Sign in with Facebook</button>

              </form>
        </div>
      </div>
    </div>
</div>
</div>
